:root {
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  padding: 0px;
  height: 100vh;
  width: 100%;
  background-image: url('./assets/forest6.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h4 {
  color: #343a40;
}

.list-group-item {
  background-color: #e9ecef;
  border: none;
  margin-bottom: 5px;
}
